


<div class="articlediv">

  <ul class="list-group uk-hover">
    <li class="list-group-item active">Sehirler</li>
    <li class="list-group-item" [routerLink]="['listcity/',sehir.sehirId]" routerLinkActive="router-link-active"  *ngFor="let sehir of doldurArticle.sehirler">{{sehir.sehirAd}} </li>

  </ul>
  <ul class="list-group table-hover">
    <li class="list-group-item active">Markalar</li>
    <li class="list-group-item" [routerLink]="['listbrand/',marka.markaId]" routerLinkActive="router-link-active"  *ngFor="let marka of doldurArticle.markalar">{{marka.markaAd}} {{marka.markaId}} </li>

  </ul>

  </div>