.card {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  cursor:pointer;
}

 .card img {
  margin-right: 100px;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: 50% 15%;
  width: 286px;
  height: 200px;
} 
#ilan {
  
  
  position: fixed;
  
}
.btn {
  float: right;
 
}

.selected  {
 
  animation-name: example;
  animation-duration: 4s;
}



@keyframes example {
  from {background-color: LightGray}
  to {background-color:white;}
}
